In [16]:
import pandas as pd
train = pd.read_csv('./data/train.csv')
test = pd.read_csv('./data/test.csv')
submit = pd.read_csv('./data/sample_submission.csv')

In [17]:
train.head(3)

,ID,대출금액,대출기간,근로기간,주택소유상태,연간소득,부채_대비_소득_비율,총계좌수,대출목적,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수,대출등급
0,TRAIN_00000,12480000,36 months,6 years,RENT,72000000,18.90,15,부채 통합,0,0,0.0,0.0,0.0,C
1,TRAIN_00001,14400000,60 months,10+ years,MORTGAGE,130800000,22.33,21,주택 개선,0,373572,234060.0,0.0,0.0,B
2,TRAIN_00002,12000000,36 months,5 years,MORTGAGE,96000000,8.60,14,부채 통합,0,928644,151944.0,0.0,0.0,A

In [3]:
test.head(3)

,ID,대출금액,대출기간,근로기간,주택소유상태,연간소득,부채_대비_소득_비율,총계좌수,대출목적,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수
0,TEST_00000,16800000,36 months,8 years,MORTGAGE,132000000,19.64,12,주택 개선,0,394692,146604.0,0.0,0.0
1,TEST_00001,8400000,36 months,5 years,RENT,89971200,15.84,25,부채 통합,0,0,0.0,0.0,0.0
2,TEST_00002,17280000,36 months,6 years,RENT,150000000,8.41,20,신용 카드,0,1786980,281820.0,0.0,0.0

In [4]:
submit.head()

           ID 대출등급
0  TEST_00000    G
1  TEST_00001    G
2  TEST_00002    G
3  TEST_00003    G
4  TEST_00004    G

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96294 entries, 0 to 96293
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            96294 non-null  object
 1   대출금액          96294 non-null  int64
 2   대출기간          96294 non-null  object
 3   근로기간          96294 non-null  object
 4   주택소유상태        96294 non-null  object
 5   연간소득          96294 non-null  int64
 6   부채_대비_소득_비율   96294 non-null  float64
 7   총계좌수          96294 non-null  int64
 8   대출목적          96294 non-null  object
 9   최근_2년간_연체_횟수  96294 non-null  int64
 10  총상환원금         96294 non-null  int64
 11  총상환이자         96294 non-null  float64
 12  총연체금액         96294 non-null  float64
 13  연체계좌수         96294 non-null  float64
 14  대출등급          96294 non-null  object
dtypes: float64(4), int64(5), object(6)
memory usage: 11.0+ MB

## 상관 관계 보기
---
- r이 -1.0과 -0.7 사이이면 강한 음적 선형관계
- r이 -0.7과 -0.3 사이이면 뚜렷한 음적 선형관계
- r이 -0.3과 -0.1 사이이면 약한 음적 선형관계
- r이 -0.1과 +0.1 사이이면 거의 무시될 수 있는 선형관계
- r이 +0.1과 +0.3 사이이면 약한 양적 선형관계
- r이 +0.3과 +0.7 사이이면 뚜렷한 양적 선형관계
- r이 +0.7과 +1.0 사이이면 강한 양적 선형관계

In [32]:
# 상관 관계 보기
train.corr()

,대출금액,연간소득,부채_대비_소득_비율,총계좌수,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수
대출금액,1.000000,0.273982,0.002264,0.212325,-0.014766,0.379091,0.615721,0.011854,0.000183
연간소득,0.273982,1.000000,-0.044594,0.145403,0.040260,0.137553,0.114312,0.000333,0.009854
부채_대비_소득_비율,0.002264,-0.044594,1.000000,0.058830,0.000699,-0.016180,0.018565,0.000711,0.000051
총계좌수,0.212325,0.145403,0.058830,1.000000,0.112090,0.083612,0.116295,0.000037,0.023651
최근_2년간_연체_횟수,-0.014766,0.040260,0.000699,0.112090,1.000000,-0.010051,0.008091,0.004612,0.133632
총상환원금,0.379091,0.137553,-0.016180,0.083612,-0.010051,1.000000,0.412380,0.015379,-0.005191
총상환이자,0.615721,0.114312,0.018565,0.116295,0.008091,0.412380,1.000000,0.057838,0.009256
총연체금액,0.011854,0.000333,0.000711,0.000037,0.004612,0.015379,0.057838,1.000000,0.006620
연체계좌수,0.000183,0.009854,0.000051,0.023651,0.133632,-0.005191,0.009256,0.006620,1.000000

In [20]:
train['대출기간'].value_counts(),train['주택소유상태'].value_counts(),test['주택소유상태'].value_counts()

( 36 months    64479
  60 months    31815
 Name: 대출기간, dtype: int64,
 MORTGAGE    47934
 RENT        37705
 OWN         10654
 ANY             1
 Name: 주택소유상태, dtype: int64,
 MORTGAGE    31739
 RENT        25281
 OWN          7177
 Name: 주택소유상태, dtype: int64)

In [30]:
# 이상한 주택소유상태 제거
train.drop(28730, inplace=True)

In [52]:
#카테고리화 수치형으로 변환
ordinal_encoder = OrdinalEncoder()
train[['주택소유상태', '대출기간']] = ordinal_encoder.fit_transform(train[['주택소유상태', '대출기간']])

In [36]:
# ID 제거
train.drop(['ID'], axis=1, inplace= True)

In [53]:
train.head(3)

,대출금액,대출기간,근로기간,주택소유상태,연간소득,부채_대비_소득_비율,총계좌수,대출목적,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수,대출등급
0,12480000,0.0,6 years,2.0,72000000,18.90,15,부채 통합,0,0,0.0,0.0,0.0,C
1,14400000,1.0,10+ years,0.0,130800000,22.33,21,주택 개선,0,373572,234060.0,0.0,0.0,B
2,12000000,0.0,5 years,0.0,96000000,8.60,14,부채 통합,0,928644,151944.0,0.0,0.0,A

In [58]:
train.groupby(['대출등급'])['대출금액'].mean()

대출등급
A    1.790579e+07
B    1.686808e+07
C    1.788920e+07
D    1.953331e+07
E    2.232013e+07
F    2.400517e+07
G    2.402079e+07
Name: 대출금액, dtype: float64

In [70]:
train_object = train['대출목적'].unique()
oject_dict = dict()
for i, v in enumerate(train['대출목적'].unique()):
    oject_dict[v] = i
oject_dict

{'부채 통합': 0,
 '주택 개선': 1,
 '주요 구매': 2,
 '휴가': 3,
 '의료': 4,
 '자동차': 5,
 '신용 카드': 6,
 '소규모 사업': 7,
 '기타': 8,
 '이사': 9,
 '주택': 10,
 '재생 에너지': 11}

In [71]:
train['대출목적'] = train['대출목적'].apply(lambda x: oject_dict.get(x, '기타'))

In [72]:
train.head(3)

,대출금액,대출기간,근로기간,주택소유상태,연간소득,부채_대비_소득_비율,총계좌수,대출목적,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수,대출등급
0,12480000,0.0,6 years,2.0,72000000,18.90,15,0,0,0,0.0,0.0,0.0,C
1,14400000,1.0,10+ years,0.0,130800000,22.33,21,1,0,373572,234060.0,0.0,0.0,B
2,12000000,0.0,5 years,0.0,96000000,8.60,14,0,0,928644,151944.0,0.0,0.0,A

In [76]:
train[train['최근_2년간_연체_횟수'] == 30]

,대출금액,대출기간,근로기간,주택소유상태,연간소득,부채_대비_소득_비율,총계좌수,대출목적,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수,대출등급
57431,18000000,0.0,< 1 year,2.0,168000000,10.23,64,8,30,819192,391788.0,0.0,0.0,C

In [77]:
train['근로기간'].unique()

array(['6 years', '10+ years', '5 years', '8 years', 'Unknown', '9 years',
       '2 years', '1 year', '3 years', '7 years', '4 years', '< 1 year',
       '10+years', '<1 year', '3', '1 years'], dtype=object)

In [79]:
# 근로연수 컬럼의 데이터를 문자열로 변환
train['근로기간'] = train['근로기간'].astype(str)

# 숫자만 추출
train['근로기간'] = train['근로기간'].str.extract('(\d+)').astype(float)

# 'Unknown'은 NaN으로 변환되므로, 이를 -1로 대체
train['근로기간'].fillna(-1, inplace=True)

# '10+'와 같은 표현은 10으로 처리되므로, 이를 10 이상의 값으로 대체
train.loc[train['근로기간'] == 10, '근로기간'] = 11

# '<1 year'와 같은 표현은 NaN으로 처리되므로, 이를 0으로 대체
train.loc[train['근로기간'].isna(), '근로기간'] = 0

In [80]:
train.head(3)

,대출금액,대출기간,근로기간,주택소유상태,연간소득,부채_대비_소득_비율,총계좌수,대출목적,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수,대출등급
0,12480000,0.0,6.0,2.0,72000000,18.90,15,0,0,0,0.0,0.0,0.0,C
1,14400000,1.0,11.0,0.0,130800000,22.33,21,1,0,373572,234060.0,0.0,0.0,B
2,12000000,0.0,5.0,0.0,96000000,8.60,14,0,0,928644,151944.0,0.0,0.0,A

In [90]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96293 entries, 0 to 96293
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   대출금액          96293 non-null  int64
 1   대출기간          96293 non-null  float64
 2   근로기간          96293 non-null  float64
 3   주택소유상태        96293 non-null  float64
 4   연간소득          96293 non-null  int64
 5   부채_대비_소득_비율   96293 non-null  float64
 6   총계좌수          96293 non-null  int64
 7   대출목적          96293 non-null  int64
 8   최근_2년간_연체_횟수  96293 non-null  int64
 9   총상환원금         96293 non-null  int64
 10  총상환이자         96293 non-null  float64
 11  총연체금액         96293 non-null  float64
 12  연체계좌수         96293 non-null  float64
 13  대출등급          96293 non-null  object
dtypes: float64(7), int64(6), object(1)
memory usage: 11.0+ MB

In [89]:
train.corr()

,대출금액,대출기간,근로기간,주택소유상태,연간소득,부채_대비_소득_비율,총계좌수,대출목적,최근_2년간_연체_횟수,총상환원금,총상환이자,총연체금액,연체계좌수
대출금액,1.000000,0.402600,0.119452,-0.178300,0.273982,0.002264,0.212325,-0.087464,-0.014766,0.379091,0.615721,0.011854,0.000183
대출기간,0.402600,1.000000,0.074883,-0.095011,0.038396,0.030263,0.105954,-0.081010,-0.013859,-0.090014,0.412326,0.005247,0.006988
근로기간,0.119452,0.074883,1.000000,-0.181618,0.084588,-0.000048,0.097328,-0.039132,0.024565,0.037863,0.070444,0.000998,0.004477
주택소유상태,-0.178300,-0.095011,-0.181618,1.000000,-0.126436,-0.003805,-0.206328,0.056204,-0.049726,-0.061996,-0.078058,0.003980,-0.020043
연간소득,0.273982,0.038396,0.084588,-0.126436,1.000000,-0.044594,0.145403,-0.000845,0.040260,0.137553,0.114312,0.000333,0.009854
부채_대비_소득_비율,0.002264,0.030263,-0.000048,-0.003805,-0.044594,1.000000,0.058830,-0.005054,0.000699,-0.016180,0.018565,0.000711,0.000051
총계좌수,0.212325,0.105954,0.097328,-0.206328,0.145403,0.058830,1.000000,-0.040562,0.112090,0.083612,0.116295,0.000037,0.023651
대출목적,-0.087464,-0.081010,-0.039132,0.056204,-0.000845,-0.005054,-0.040562,1.000000,-0.021531,-0.015632,-0.093427,-0.001425,-0.003755
최근_2년간_연체_횟수,-0.014766,-0.013859,0.024565,-0.049726,0.040260,0.000699,0.112090,-0.021531,1.000000,-0.010051,0.008091,0.004612,0.133632
총상환원금,0.379091,-0.090014,0.037863,-0.061996,0.137553,-0.016180,0.083612,-0.015632,-0.010051,1.000000,0.412380,0.015379,-0.005191
총상환이자,0.615721,0.412326,0.070444,-0.078058,0.114312,0.018565,0.116295,-0.093427,0.008091,0.412380,1.000000,0.057838,0.009256
총연체금액,0.011854,0.005247,0.000998,0.003980,0.000333,0.000711,0.000037,-0.001425,0.004612,0.015379,0.057838,1.000000,0.006620
연체계좌수,0.000183,0.006988,0.004477,-0.020043,0.009854,0.000051,0.023651,-0.003755,0.133632,-0.005191,0.009256,0.006620,1.000000

In [92]:
train.to_csv('./data/train_label1.csv')

In [91]:
categoric_col = train.select_dtypes(include='object').columns # 카테고리형 컬럼
categoric_col

Index(['대출등급'], dtype='object')